/* font-family: 'Lato', sans-serif; */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif

}
nav{
background-color: #111;
color: white;
padding: 20px 5px;
}

.sneakers{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    background-color: lightgray;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#searchInput{
    color: gray;
    border: none;
    background-color: transparent;
}
.limitedOffer{
    border-bottom: 2px solid green;
    font-size: 20px;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBottom li{
    list-style: none;
    margin-right: 50px;
    cursor: pointer;
    color: lightgrey;
    font-weight: 500;
    font-size: 20px;
}
/* slider css */

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
     overflow: hidden;
} 

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
    
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.sliderBg{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    margin-top: 50px;;


}
.sliderImg{
    z-index: 1;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    color: white;
    right: 28%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
 
}

.sliderPrice{
    position: absolute;
    top: 10%;
    color: white;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid green;


}

.sliderBtn{
    border: 1px solid gray;
    position: absolute;
    top: 50%;
    right: 10%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
    background-color: #111;
    color: grey;

}
.sliderBtn:hover{
    background-color: white;
    color: black
}
.sliderItem:nth-child(1) .sliderBg{
    background-color: green;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: purple;
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: blue;
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: orange;
}
.sliderItem:nth-child(1) .sliderPrice{
color: green;
}
.sliderItem:nth-child(2) .sliderPrice{
color: purple;
}
.sliderItem:nth-child(3) .sliderPrice{
color: blue;
}
.sliderItem:nth-child(4) .sliderPrice{
color: orange;
}
/* features */

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featureTitle{
    font-size: 24px;
    margin: 20;
    font-weight: 600;
}
.featureDesc{
    width: 50%;
    height: 100px;
    color: gray;
    font-size: 17px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 23%, 99% 0, 100% 100%, 0% 100%);
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.payTitle{
    font-size: 20px;
    color: gray;
}
label{
    font-size: 14px;
    font-weight: 300;
}
.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}
.payInput::placeholder{
    color: gray;
}
.cardIcons{
    display: flex;

}
.cardIcon{
    margin-right: 10px;
}
.sm{
    width: 30%;

}

.cardInfo{
    display: flex;
    justify-content: space-between;
}
.payButton{
    position: absolute;
    height: 40px;
    bottom:-40;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px;
}
.productImg{
 padding-top: 60px;
 width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    padding: 50px;
    right: 0;


}
.productBrand{
    font-size: 75px;
    font-weight: 900;
}
.productDesc{
    font-size: 24px;
    color: gray;
}
.colors, .sizes{
    display: flex;

}
.color{
    background-color: #111;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.color:last-child{
    background-color: darkblue;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;

}

.productBtn{
    padding: 10px 20px;
    float: right;
    cursor: pointer;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.buyBtn:hover{
    background-color: white;
    color: black;

}

.gallery{
    display: flex;
    padding: 50px;
}
.galleryItem{
    flex: 1;
    padding: 50px;

}

.galleryImg{
    width: 100%;
    
}

/* new season */
.newSeason{
    display: flex;

}
.newseasonItem{
    flex: 1;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.newSeasonImg{
    width: 100%;
    
}

.nsTitle{
    font-size: 40px;
}
.nsButton{
    cursor: pointer;
    padding: 15px;
    font-weight: 600;
}

footer{
    display: flex;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}
.fmenuTitle{
    font-size: 16px;

}

.fMenuList{
    padding: 0px;
    list-style: none;
    text-align: center;

}
.fMenuListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;

}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.fInput{
    padding: 5px;
}
.fBtn{
    background-color: #111;
    color: white;
    padding: 5px;
}
.footerIcons{
    display: flex;
}
.ficon{
width: 20px;
right: 20px;
margin-right: 10px;
}
.copy{
    font-weight: 300;
    font-size: 14px;
}